{% extends 'layout.html' %}

{% block title %}

{{biljka.ime_biljke}}
{% endblock %}



{% block content %}

<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{ biljka.ime_biljke }}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{biljka.ime_biljke}}</div>
            </header>
            <!-- Preview image figure-->
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ biljka.slika }}" alt="..." /></figure>
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-5 mb-4">
                    Potrebna Vlažnost Zemlje : {{ biljka.min_vlaznost }} % - {{ biljka.max_vlaznost }} %
                </p>
                <p class="fs-5 mb-4">
                    Idealna temperatura : {{ biljka.min_temp }} - {{ biljka.max_temp}} celsius
                </p>
                <p class="fs-5 mb-4">
                    Potreban pH : {{ biljka.min_ph }} - {{ biljka.max_ph}} 
                </p>
                <p class="fs-5 mb-4">
                    Potrebna svjetlost : {{ biljka.min_svjetlost }} - {{ biljka.max_svjetlost}} 
                </p>
            </section>
        </article>

        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                </div>
            </div>
        </section>
    </div>






        
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
            <div class="card-header">IZBRIŠI BILJKU</div>
            <div class="container">


                <div>
                    <a class="btn btn-info" href="{{url_for('delete_biljka', biljka_id=biljka.id) }}">
                        IZBRIŠI BILJKU
                    </a>

                </div>
                </div>
        </div>

        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">UREDI DETALJE</div>
            <div class="card-body">
                <form method="POST">


                    <div class="card mb-4">

                    {{form.hidden_tag()}}
                    {{form.ime_biljke.label}}
                    {{form.ime_biljke}}
                    {{form.slika.label}}
                    {{form.slika}}
                    {{form.max_svjetlost.label}}
                    {{form.max_svjetlost}}
                    {{form.min_svjetlost.label}}
                    {{form.min_svjetlost}}
                    {{form.max_ph.label}}
                    {{form.max_ph}}
                    {{form.min_ph.label}}
                    {{form.min_ph}}
                    {{form.max_vlaznost.label}}
                    {{form.max_vlaznost}}
                    {{form.min_vlaznost.label}}
                    {{form.min_vlaznost}}
                    {{form.max_temp.label}}
                    {{form.max_temp}}
                    {{form.min_temp.label}}
                    {{form.min_temp}}
                
                    {{form.submit()}}
                    </div>
                
                </form>
                







            </div>
        </div>


    </div>
</div>

{% endblock %}