{% extends 'layout.html'%}

{%block title%} Dodaj Vazu {%endblock%}


{%block content%}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Biljke</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

{%for biljka in biljke%}   
        <li><a class="dropdown-item" href="#!">{{biljka.ime_biljke}}</a></li>
        <li><hr class="dropdown-divider" /></li>

{%endfor%}
    </ul>
</li>

<form method="POST">

    <div class="card mb-4">

    {{form.hidden_tag()}}
    {{form.ime_vaze.label}}
    {{form.ime_vaze}}
    {{form.odabir_biljke.label}}
    {{form.odabir_biljke}}


    {{form.submit()}}

    </div>
</form>

{%endblock%}