{% extends 'layout.html'%}

{%block title%} Dodaj Biljku {%endblock%}


{%block content%}

<form method="POST" enctype="multipart/form-data">

    <div class="card mb-4">

    {{form.hidden_tag()}}
    {{form.ime_biljke.label}}
    {{form.ime_biljke}} <br>
    {{form.slika.label}}
    {{form.slika}}<br>
    {{form.max_svjetlost.label}}
    {{form.max_svjetlost}}
    {{form.min_svjetlost.label}}
    {{form.min_svjetlost}}<br>
    {{form.max_ph.label}}
    {{form.max_ph}}
    {{form.min_ph.label}}
    {{form.min_ph}}<br>
    {{form.max_vlaznost.label}}
    {{form.max_vlaznost}}
    {{form.min_vlaznost.label}}
    {{form.min_vlaznost}}<br>
    {{form.max_temp.label}}
    {{form. max_temp}}
    {{form.min_temp.label}}
    {{form. min_temp}}<br>

    {{form.submit()}}

    </div>

</form>


{%endblock%}