{%extends 'layout.html'%}

{%block title%} Vaze {%endblock%}


{%block content%}

    <div>
        <a class="btn btn-info" href="{{ url_for('index_senzor') }}">
            SYNC
        </a>
    </div>

    {%for vaza in Vaze.query.limit(20).all()%}



                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <h2 class="card-title">{{ vaza.ime_vaze }}</h2>

                        {%if vaza.biljka != ''%}
                            <img src="{{ vaza.biljka.slika }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2 class="card-title">{{ vaza.biljka.ime_biljke }}</h2>
                                <h2 class="card-title">PRIGODNO ZA {{ vaza.biljka.ime_biljke }}</h2>
                                <p class="card-text">
                                    Svjetlost : {{ vaza.biljka.max_svjetlost}} - {{ vaza.biljka.min_svjetlost}}
                                </p>
                                <p class="card-text">
                                    pH = {{ vaza.biljka.max_ph}} - {{ vaza.biljka.min_ph}}
                                </p>
                                <p class="card-text">
                                    Vlažnost zemlje: {{ vaza.biljka.max_vlaznost}} - {{ vaza.biljka.min_vlaznost}}
                                </p>
                                <p class="card-text">
                                    Temperatura: {{ vaza.biljka.max_temp}} - {{ vaza.biljka.min_temp}}
                                </p>
                            </div>
                        {%endif%}


                    <div class="card-body">
                        <h2 class="card-title">ZADNJE OČITANO STANJE</h2>
                
                            {%if biljka.max_svjetlost < light:%}  #provjeri da li se tako proziva
                                <p class="card-text">
                                    SVJETLOST:  Biljka ima previše svjetlosti, premjestite ju!
                                </p>
                
                            {%elif biljka.min_svjetlost > light: %} 
                                <p class="card-text">
                                    SVJETLOST:  Biljka ima pre malo svjetlosti, premjestite ju na svjetlije područje!
                                </p>
                            {%else:%}
                                pass
                            
                            {%endif%}
                
                
                            {%if biljka.max_vlaznost < vlaznost:%}  
                                <p class="card-text">
                                    VLAŽNOST : biljka ima previše vode!
                                </p>
                
                            {%elif biljka.min_vlaznost > vlaznost: %} 
                                <p class="card-text">
                                    VLAŽNOST : Biljka je zalivena! 
                                </p>
                            {%else:%}
                                pass
                        
                            {%endif%}
                
                
                            
                            {%if biljka.max_ph < pH:%}  
                                <p class="card-text">
                                    pH pre visok : Substrati su dodani!
                                </p>
                
                            {%elif biljka.min_ph > pH: %} 
                                <p class="card-text">
                                    pH pre nizak : Substrati su dodani!
                                </p>
                            {%else:%}
                                pass
                        
                            {%endif%}
                
                
                
                            {%if biljka.max_ph < temp:%}  
                            <p class="card-text">
                                Temperatura pre visoka : Pomaknite biljku na hladnije mjesto , optimalna temperatura za biljku je  {{ vaza.biljka.max_temp}} - {{ vaza.biljka.min_temp}}
                            </p>
                
                            {%elif biljka.min_ph > temp: %} 
                                <p class="card-text">
                                    Temperatura pre niska : Uključivanje grijanja!
                                </p>
                            {%else:%}
                                pass
                
                            {%endif%}
                
                
                    </div>


                        <div class="card-footer">
                            <a class="btn btn-primary btn-sm" 
                                href="{{ url_for('post_details', post_id=post['id']) }}">
                                More Info
                            </a>
                        </div>
                    </div>
                </div>


            
    {%endfor%}

       

{%endblock%}




