{%extends 'layout.html'%}

{%block title%} Vaze {%endblock%}


{%block content%}

<div>
    <a class="btn btn-info" href="{{ url_for('index_senzor') }}">
        SYNC
    </a>
</div>

{%for vaza in Vaze.query.limit(20).all()°%}



            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <h2 class="card-title">{{ vaza.ime_vaze }}</h2>

                    {%if vaza.biljka not null or vaza.biljka != ''%}
                        <img src="{{ vaza.biljka.slika }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">{{ vaza.biljka.ime_biljke }}</h2>
                            <h2 class="card-title">PRIGODNO ZA {{ vaza.biljka.ime_biljke }}</h2>
                            <p class="card-text">
                                Svjetlost : {{ vaza.biljka.max_svjetlost}} - {{ vaza.biljka.min_svjetlost}}
                            </p>
                            <p class="card-text">
                                pH = {{ vaza.biljka.max_ph}} - {{ vaza.biljka.min_ph}}
                            </p>
                            <p class="card-text">
                                Vlažnost zemlje: {{ vaza.biljka.max_vlaznost}} - {{ vaza.biljka.min_vlaznost}}
                            </p>
                            <p class="card-text">
                                Temperatura: {{ vaza.biljka.max_temp}} - {{ vaza.biljka.min_temp}}
                            </p>
                        </div>

                        <div class="card-body">
                            <h2 class="card-title">ZADNJE OČITANO STANJE</h2>
                            <p class="card-text">
                                {{ vaza.biljka.max_svjetlost}} - {{ vaza.biljka.min_svjetlost}}
                            </p>
                            <p class="card-text">
                                {{ TU POZOVI FUNKCIJU KOJA GENERIRA PODATKE i onda kreni usporedjivatt vrjedosti }}
                            </p>
                            <p class="card-text">
                                {{ vaza.biljka.max_vlaznost}} - {{ vaza.biljka.min_vlaznost}}
                            </p>
                            <p class="card-text">
                                {{ vaza.biljka.max_temp}} - {{ vaza.biljka.min_temp}}
                            </p>
                </div>



                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" 
                            href="{{ url_for('post_details', post_id=post['id']) }}">
                            More Info
                        </a>
                    </div>
                </div>
            </div>


        

{%endfor%}

{%endblock%}


SREDI I KORISTI OVO: 

for biljka in Vaze.biljka: 
if biljka.max_svjetlost < light:  #provjeri da li se tako proziva
    flash('Premjestite biljku na manje osvjetljeno mjesto')
elif biljka.max_svjetlost > light:
    print ('')

elif biljka.min_svjetlost < light:  #provjeri da li se tako proziva
    flash('Premjestite biljku na manje osvjetljeno mjesto')
elif biljka.min_svjetlost > light:
    print ('')
else:
    pass

if biljka.ph < light:  #provjeri da li se tako proziva
    print('Premjestite biljku na manje osvjetljeno mjesto')
elif biljka.ph > light:
    print ('')
else:
    pass

if biljka.max_vlaznost < vlaznost:  #provjeri da li se tako proziva
    print('Premjestite biljku na manje osvjetljeno mjesto')
elif biljka.max_vlaznost > vlaznost:
    print ('')
else:
    pass

if biljka.min_vlaznost < vlaznost:  #provjeri da li se tako proziva
    print('Premjestite biljku na manje osvjetljeno mjesto') #kako prikazem??
elif biljka.min_vlaznost > vlaznost:
    print ('')
else:
    pass