{% extends 'layout.html'%}

{%block title%} Moj Profil {%endblock%}


{%block content%}

<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="lead text-white m-0">
            <strong>
                VAŠI PODACI 
            </strong><br>
            Ime i Prezime: {{user.ime}} {{user.prezime}} <br>
            Username: {{ user.username }}<br>
            Email: {{ user.email}}<br>
            Password : 
            {%for sign in user.password%}
                * 
            {%endfor%}<br>
        </p>
    </div>
</div>

<form method="POST">
    {{form.hidden_tag()}} 
    {{form.ime.label}} 
    {{form.ime}} <br>
    {{form.prezime.label}}
    {{form.prezime}} <br>
    {{form.email.label}}
    {{form.email}} <br>
    {{form.username.label}}
    {{form.username}}<br>
    {{form.password.label}}
    {{form.password}}<br>

    {{form.submit()}}

</form>


{%endblock%}