{% extends 'layout.html' %}

{% block title %}
Post Details
{% endblock %}



{% block content %}


<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <h2 class="card-title">{{ vaza.ime_vaze }}</h2>

                {%if vaza.id_biljke != None%}

                    <section class="mb-5">
                        <h2 class="card-title">{{ vaza.biljka.ime_biljke }}</h2>

                        <img src="{{ vaza.biljka.slika }}" class="card-img-top" alt="...">

                        <p class="fs-5 mb-4">
                            Vlažnost zemlje: {{ vaza.biljka.max_vlaznost}} - {{ vaza.biljka.min_vlaznost}} %
                        </p>
                        <p class="fs-5 mb-4">
                            Temperatura: {{ vaza.biljka.max_temp}} - {{ vaza.biljka.min_temp}}
                        </p>
                        <p class="fs-5 mb-4">
                            pH = {{ vaza.biljka.max_ph}} - {{ vaza.biljka.min_ph}}
                        </p>
                        <p class="fs-5 mb-4">
                            Svjetlost : {{ vaza.biljka.max_svjetlost}} - {{ vaza.biljka.min_svjetlost}} 
                        </p>


                        <div>
                            <a class="btn btn-info" href="{{url_for('vaza_edit_senzor', vaza_id=vaza.id)}}">
                                SYNC
                            </a>
                        </div>
                        
                    </section>
        
        
        
        
                    <div>
                        <a class="btn btn-light" href="{{url_for('vaza_edit', vaza_id=vaza.id )}}">
                            EDIT 
                        </a>
                    </div>
    
                {%else%}

                <section class="mb-5">
                    <p class="fs-5 mb-4">
                        Vaza je prazna

                    </p>
                    <img src="{{ vaza.biljka.slika }}" class="card-img-top" alt="...">

                {%endif%}
        </article>
        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">



                </div>
            </div>
        </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
            <div class="card-header">IZBRIŠI VAZU</div>
            <div class="container">


                <div>
                    <a class="btn btn-info" href="{{url_for('delete_vaza', vaza_id=vaza.id)}}">
                        IZBRIŠI VAZU
                    </a>
                    <a class="btn btn-info" href="{{url_for('delete_biljkaUVazi', vaza_id=vaza.id)}}">
                        MAKNI BILJKU IZ VAZE
                    </a>
                </div>
                </div>
        </div>

        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">UREDI DETALJE ILI SAMO DODAJ BILJKU</div>
            <div class="card-body">

                <form method="POST">

                    <div class="card mb-4">

                
                    {{form.hidden_tag()}}
                    {{form.ime_vaze.label}}
                    {{form.ime_vaze}}
                    {{form.odabir_biljke.label}}
                    {{form.odabir_biljke}}
                
                
                    {{form.submit()}}


                    </div>
                    <div class="card mb-4">
                        {%for biljka in biljka%}
                        <p class="fs-6 mb-4" >
                            {{biljka.ime_biljke}}
                        </p>
                        {%endfor%}
                    </div>
                </form>






            </div>
        </div>


    </div>
</div>

{% endblock %}