% extends 'layout.html'

<form method="POST">
    {{form.hidden_tag()}}
    {{form.ime_biljke.label}}
    {{form.ime_biljke}}
    {{form.slika.label}}
    {{form.slika}}
    {{form.max_svjetlost.label}}
    {{form.max_svjetlost}}
    {{form.min_svjetlost.label}}
    {{form.min_svjetlost}}
    {{form.max_ph.label}}
    {{form.max_ph}}
    {{form.min_ph.label}}
    {{form.min_ph}}
    {{form.max_vlaznost.label}}
    {{form.max_vlaznost}}
    {{form.min_vlaznost.label}}
    {{form.min_vlaznost}}
    {{form.max_temp.label}}
    {{form. max_temp}}
    {{form.min_temp.label}}
    {{form. min_temp}}

    {{form.submit()}}

</form>